{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="grid-container" style="padding-top: 10%; padding-bottom: 20%; display: grid; grid-template-columns: auto auto auto; ">
    <div class="grid-item" style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3;">
    <div class = 'content-section'>
        <form method = 'POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Şifre sıfırlama</legend>
                {{ form|crispy  }}
            </fieldset> 
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Arama</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Şifreni hatırladın mı? <a href="{% url 'register' %}" class="ml-2">Giriş yap</a>
            </small>
        </div>
    </div>
</div>
</div>
{% endblock content %}