{% extends "main/base.html" %}
{% block content %}
<div class="grid-container" style="padding-top: 10%; padding-bottom: 35%; display: grid; grid-template-columns: auto auto auto; ">
    <div class="grid-item" style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3;">
    <div class = 'content-section' style="text-align: center;">
    <div class="alert alert-info">
        Şifreniz sıfırlandı
    </div>
    <a href="{% url 'login' %}">Giriş yap</a>
</div>
</div>
</div>
{% endblock content %}