
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/sidebar.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'main/css/override.css' %}"> -->
    <title>Finance Database</title>
  </head>
  <body id="bootstrap-overrides">

      <header>
                                      <!-- Header -- Navbar Starts -->
          <nav id="top" class="navbar-expand-sm shadow-lg" style="background-color: #373632;">
                <ul class="navbar-nav text-muted text-secondary d-flex align-items-center justify-content-center" >
                    <li class="nav-item active"><a href="#">Hakkımızda</a></li>
                    <li class="nav-item active" style="margin: 0.2rem 35rem 0.2rem 2rem;"><a href="#">Projelerimiz</a></li> 
                    <li class="nav-item active"><a href="#">Hakkımızda</a></li>
                    <li class="nav-item active" style="margin-left: 2rem;"><a href="#">Projelerimiz</a> </li>                  
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light shadow-lg" id="navbar" style="background-color: #66645F;">
                          
              <span class="navbar-toggler-icon" onclick="openNav()"></span>
              <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item active navbar-nav d-flex align-items-center" id="finance-bar">
                    <span class="navbar-brand d-flex justify-content-center" href="#" id="logo"><img style="width: 25%;" src="static/large.png" alt=""></span> 
                    <a class="nav-link mx-4" href="#">Home</a>
                    <a class="nav-link mx-4" href="#">Home</a>
                    <a class="nav-link mx-4" href="#">Home</a>
                    <a class="nav-link mx-4" href="#">Home</a>
                    <a class="nav-link mx-4" href="#">Home</a>
                    <a class="nav-link mx-4" href="#">Home</a>
                  </li>
            </nav>
                                  <!-- Navbar Ends -->
                                  <!-- Side User Menu Starts -->

            <nav class="w3-sidebar w3-white w3-animate-left sidenav" style="z-index:3;width:300px; padding-top: 10px;" id="mySidenav"><br>
              <div class="w3-container w3-row">
                {% if user.is_authenticated %}
                <div class="w3-col s4">
                  <img src="{{user.profile.image.url}}" class="w3-circle w3-margin-right" style="width:70px">
                </div>
                <div class="w3-col s8 w3-bar">
                    <span>Welcome, <strong>{{user.username}}</strong></span><br>
                    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                    <a href="{% url 'Profile' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
                  </div>
                </div>
                <hr>
                <div class="w3-container">
                  <h5>Panel</h5>
                </div>
                <div class="w3-bar-block">
                  <a href="{% url 'site-home' %}" class="w3-bar-item w3-button w3-padding w3-grey"><i class="fa fa-users fa-fw"></i>  AnaSayfa</a>
                  <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  İşlemlerim</a>
                  <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Birikimlerim</a>
                  <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Takip Ettiklerim</a>
                  <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Haberler</a>
                  <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  Genel</a>
                  <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Geçmiş İşlemlerim</a>
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Ayarlar</a><br><br><br><br>
                  <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-plane fa-fw"></i>  Çıkış Yap</a>
                </div>
                {% else %}
                  <div class="w3-col s10 w3-bar">
                  <span><strong>Finance Database</strong>'e Hoşgeldin! </span><br><br>
                      <p>Giriş yapmak için <a href="{% url 'login' %}"><strong>tıkla!</strong></a></p>
                      <small>Hala üye değil misin? Şimdi aramıza <a href="{% url 'register' %}"><strong>katıl.</strong></a></small>
                    </div>
                    </div>
                  {% endif %}

                                                        <!-- Side User Menu Ends -->
                                                        <!-- Header Ends -->        
      </header>
      <section>
                                                           <!-- Content  Starts -->
        <div class="container">
                {% block content %}
                    
                {% endblock content %}
              
        </div>
      </section>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="static/main/js/override.js"></script>
  </body>
  <footer class="py-5 w3-black" style="height: 35px; text-align: center; bottom: auto;" >
    <div class="container">
      <p class="m-0 text-center text-white" style="position:relative; bottom: 16px;">Copyright &copy; Finance Database 2020 <img src="/media/logo/logo.jpg" alt="" width="150" style="position:relative; left:450px; bottom:10px;"></p>
      
    </div>
  
  </footer> 
</html>